numpy
matplotlib
pandas
scipy
prettytable
plotly
dash
opencv-python
scikit-image
yfinance
statsmodels
requests
gunicorn
dash-bootstrap-components
dash-renderer
dash-html-components
dash-core-components
pandas-datareader
random2
DateTime
